* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ; */
  color:#fafafa;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: #131415;
  box-shadow: 0px 48px 128px rgba(0, 0, 0, 0.4);
  /*131415;*/
}
header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  padding: 10px;

}
nav {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-home {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div-header {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  left: 65px;
  top: 31px;
  padding: 10px;
}

.font-home {
  margin-left: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 131.02%;
}
.carry{
  width: 20px;
  height: 20px;
  align-content: center;
}
.login{
  width: 20px;
  height: 20px;
  align-content: center;
}
.section-1 {
  width: 90%;
  height: 350px;
  display: flex;
  flex-direction: column-reverse;
}

.section-1-buscador {
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 199px;
  left: 103px;
  top: 235px;
  align-content: flex-start;
  color: #ffffff;
}

.section-1-buscador-h2 {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 131.02%;
  color: #ffffff;
}

.section-1-buscador-input {
  width: 50%;
  height: 60px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  left: 1.67%;
  right: 56.01%;
  top: 18.05%;
  bottom: 79.3%;
  margin-top: 5%;
  padding-bottom: 5%;
  background: #252525;
  color:#f4f4f4;
  opacity: 0.1;
  border: 1px solid #f4f4f4;
  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.07);
  border-radius: 15px;
}

.section-1-button {
  position: absolute;
  width: 200px;
  height: 50px;
  /*left: 38.03%;
  right: 54.17%; */
  margin-top: 12.5vh;
  margin-left: 1px;
  margin-right: 1px;
  /*  top: calc(50% - 14px / 2 - 578.5px); */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
        
    background-image: linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 17.5px;
    display:inline-block;  
  }

  .section-1-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  

.section-1-img-pizzas {
  width: 30%;
  height: 20vh;
  align-content: space-around;
}

.pizza-1 {
  width: 30vw;
  height: 30vh;
  margin-left: 260px;
  margin-right: 20vw;
  margin-bottom: 20%;
  left: 48.5vw;
  top: 5vh;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  background: url(image.png);
  justify-content: flex-end;
}

.pizza-2 {
  width: 40vw;
  height: 40vh;
  left: 35vw; /*1046px;*/
  top: 5vh; /*94px;*/
  margin-left: 80%;
  margin-right: 0px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background: url(pizza.png);
}

.section-2 {
  width: 80%;
  height: 30%;
}

.section-2-h2 {
}

.section-2-recomendados-1 {
}

.Bennazianna {
}

.section-2-recomendados-2 {
}

.Tronco-Pizza {
}

.section-2-recomendados-3 {
}

.Papas-Provenzal {
}

.section-3 {
}

.section-3-h2 {
}

.section-3-categorías {
}

.section-3-pizzas {
}

.section-3-Hamburguesas {
}

.section-3-Napapuki {
}

.section-3-Individuales {
}

.section-3-Wraps {
}

.section-3-Mexican-Food {
}

.section-3-Batidukis {
}
